.App {
  font-size: 7vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

.Large,
.Small {
  display: flex;
}

.Large {
  font-size: 10vh;
}

.Small {
  font-size: 5vh;
}

.Warning {
  display: flex;
}

.Warning>.MuiSvgIcon-root {
  margin-right: 10px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.Loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: .6;
  overflow: hidden;
}

.Loader button {
  width: 100%;
  height: 100%;
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  text-align: center;
  height: 50px;
  max-width: 450px;
}

.Artist {
  opacity: .6;
  font-style: italic;
  font-size: .8em;
}

.Volume {
  width: 85%;
}