.App {
  display: grid;
  height: 100vh;
  background-color: black;
  color: var(--gray);
  font-family: monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Artwork {
  max-width: 400px;
  margin-bottom: 16px;
}

.Title {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.Controls {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.Controls > * {
  margin: 0 1rem;
  cursor: pointer;
}

.ProgressBar {
  position: relative;
  width: 90%;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
  background: var(--gray-dark);
}

.Progress {
  position: absolute;
  border-radius: 4px;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--gray-active);
}
