.App {
  display: grid;
  height: 100vh;
  font-size: 7vh;
}

.Dark {
  opacity: .5;
}

.Large, .Small {
  display: flex;
}

.Large {
  font-size: 11vh;
}

.Small {
  font-size: 5.5vh;
}

main,
.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

main>.Container {
  height: 95%;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Top {
  height: 100px;
}

.Title {
  text-align: center;
  height: 50px;
  max-width: 450px;
}

.Volume {
  width: 85%;
}

.Colors>div {
  margin: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Colors>div:first-child {
  border: 1px dashed var(--gray);
}