.Artwork {
  position: relative;
  width: 100vw;
  max-width: 450px;
  max-height: 100vw;
  flex-grow: 1;
  overflow: hidden;
  transition: all 0.2s ease;
  transform-origin: bottom;
}

.Artwork.paused {
  transform: scale(0.95);
  opacity: 0.8;
}

.Artwork img {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  transition: all 0.6s ease;
}

.Artwork img.Hidden {
  opacity: 0;
}

.Progress {
  position: absolute;
  width: 250%;
  height: 100%;
  right: -75%;
  background: black;
  opacity: 0.2;
  transform-origin: bottom;
}
