.Hues {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}

.Hues > div {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.Hues > div:first-child {
  border: 1px dashed var(--gray);
}
