body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #777;
  font-family: monospace;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
